[submodule "plugins/fzf-tab"]
path = plugins/fzf-tab
url = https://github.com/Aloxaf/fzf-tab
[submodule "plugins/npms"]
path = plugins/npms
url = https://github.com/torifat/npms
[submodule "plugins/zsh-hist"]
path = plugins/zsh-hist
url = https://github.com/marlonrichert/zsh-hist
[submodule "plugins/jq"]
path = plugins/jq
url = https://github.com/reegnz/jq-zsh-plugin
[submodule "plugins/zsh-nvm"]
path = plugins/zsh-nvm
url = https://github.com/lukechilds/zsh-nvm
[submodule "plugins/zsh-fzf-history-search"]
path = plugins/zsh-fzf-history-search
url = https://github.com/joshskidmore/zsh-fzf-history-search
[submodule "plugins/zsh-better-npm-completion"]
path = plugins/zsh-better-npm-completion
url = https://github.com/lukechilds/zsh-better-npm-completion
[submodule "plugins/ohmyzsh"]
path = plugins/ohmyzsh
url = https://github.com/ohmyzsh/ohmyzsh
[submodule "plugins/per-directory-history"]
path = plugins/per-directory-history
url = https://github.com/jimhester/per-directory-history
[submodule "plugins/appup"]
path = plugins/appup
url = https://github.com/cloudstek/zsh-plugin-appup
[submodule "plugins/zsh-completion-generator"]
path = plugins/zsh-completion-generator
url = https://github.com/RobSis/zsh-completion-generator
[submodule "plugins/forgit"]
path = plugins/forgit
url = https://github.com/wfxr/forgit
[submodule "plugins/alias-tips"]
path = plugins/alias-tips
url = https://github.com/djui/alias-tips
[submodule "plugins/autopair"]
path = plugins/autopair
url = https://github.com/hlissner/zsh-autopair
[submodule "plugins/zsh-completions"]
path = plugins/zsh-completions
url = https://github.com/zsh-users/zsh-completions
[submodule "plugins/zsh-interactive-cd"]
path = plugins/zsh-interactive-cd
url = https://github.com/changyuheng/zsh-interactive-cd
[submodule "plugins/colored-man-pages"]
path = plugins/colored-man-pages
url = https://github.com/ael-code/zsh-colored-man-pages
[submodule "plugins/toggle-command-prefix"]
path = plugins/toggle-command-prefix
url = https://github.com/xPMo/zsh-toggle-command-prefix
[submodule "plugins/zsh-autosuggestions"]
path = plugins/zsh-autosuggestions
url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "plugins/auto-ls"]
path = plugins/auto-ls
url = https://github.com/desyncr/auto-ls
[submodule "plugins/zsh-history-substring-search"]
path = plugins/zsh-history-substring-search
url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "plugins/zsh-thefuck"]
path = plugins/zsh-thefuck
url = https://github.com/laggardkernel/zsh-thefuck
[submodule "plugins/bd"]
path = plugins/bd
url = https://github.com/Tarrasch/zsh-bd
[submodule "prompt/pure"]
	path = prompt/pure
	url = https://github.com/sindresorhus/pure
[submodule "plugins/zsh-syntax-highlighting"]
	path = plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
