[submodule "plugins/fast-syntax-highlighting"]
	path = plugins/fast-syntax-highlighting
	url = https://github.com/zdharma/fast-syntax-highlighting
[submodule "prompt/filthy"]
	path = prompt/filthy
	url = https://github.com/molovo/filthy
